<!DOCTYPE html>
<html>
    <head>
        <title>Trivia Bowl Buzzer</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron text-center">
                <h1 class="display-3">Trivia Bowl Buzzer Home</h1>
            </div>
            <div class="container text-center">
                <a class="btn btn-outline-success" href="/create" role="button">Create a Room</a>
                <a class="btn btn-outline-info" href="/join" role="button">Join a Room</a>
            </div>
        </div>
    </body>
</html>